!!!
html(lang="en")
	head
		title= title
		meta(name='viewport', content='width=device-width; initial-scale=1;')
		meta(name='apple-mobile-web-app-capable',content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

		if adapter === 'reveal'
			link(href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

		if isRemote
			link(rel='stylesheet', type='text/css', href='/css/cuecard.css')
		
		each href in files.css
			link(rel='stylesheet', type='text/css', media=href.indexOf('print')>=0 ? 'print' : 'screen', href=href)

		if styles
			style(type='text/css')!= styles
	
	body(class=isRemote?'cuecard-remote':'cuecard-client')

		if isRemote
			#cuecard-toolbar
				.logo
					span.cue
						em cue
					span.card
						strong card

		if slides
			#cuecard-slides!= slides
	
	script(src='/socket.io/socket.io.js')

	each src in files.js	
		script(src=src)

	if isRemote
		script(src='/js/remote.js')
	else
		script(src='/js/client.js')